* {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.top {
  background-image: url("/home/hazed/projects/Broadway/resources/images/the-flatiron-building.png");
  background-size: 100%;
  font-size: 18px;
  color: white;
}

.mid_title {
  background-image: url("/home/hazed/projects/Broadway/resources/images/the-flatiron-building.png");
  color: white;
}

#footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

p {
  font-size: 14px;
}

.mid h2 {
  font-size: 32px;
  font-weight: bold;
}
